html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f2f2f2;
}

* {
  box-sizing: border-box;
}

/*
mobile styling
*/

.appHeader {
  font-size  : 35px;
  font-weight: bold;
  margin     : 10px;
}

.filterContainer {
  background-color: white;
  margin          : 10px 10px;
  padding         : 10px 10px 40px 10px;
  border-radius   : 5px;
}

.filterHeading {
  font-weight: bolder;
  font-size  : 20px;
}

hr {
  background-color: #c9c9c9;
  width           : 60%;
}

.filterSubContainer {
  display       : flex;
  flex-direction: column;
  padding       : 0 10px 20px 10px;
}

.filterSubHeading {
  display        : flex;
  justify-content: center;
  font-size      : 20px;
}

.filterGrid {
  display              : grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap         : 0.5rem;
  grid-column-gap      : 0.5rem;
  justify-items        : center;
  align-items          : center;
}

button:focus {
  outline: none;
  box-shadow: none;
}



/*
Tablet styling
*/
@media (min-width: 700px) and (max-width: 1024px) {}

/*
Desktop styling
*/
@media (min-width: 1024px) {}